<div>
  <div class="input-box">
    <input type="text" (keyup)="handleChangeText($event)"/>
  </div>
  <table>
    <thead>
      <th>Categories</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of list | tableFilter: filter">
        <td>{{ item }}</td>
      </tr>
    </tbody>
  </table>
</div>